.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure full viewport height */
    margin: 0;
    padding: 0;
}

.header, .footer {
    margin: 0;
    padding: 0;
}

.main-content {
    flex: 1;
    width: 100%;
    padding: 0; /* Remove padding around main content */
    margin: 0; /* Ensure no extra space */
}
