.background-img{
    background-image: url("../../assets/pexels2.jpg");
    background-size: cover;
    background-position: center;
    height: 110vh;
    width: 100%;
    display: 'flex';
    justify-content: center;
    align-items: center;
}

.new-logon-box{
    padding-top: 90px;
}

.error{
    color: red;
}