.background-img{
    background-color: #015482;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    display: 'flex';
    justify-content: center;
    align-items: center;
}

.login-box{
    padding-top: 90px;
}