.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    background: white;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
}