.more-events .MuiPaper-root {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
}


  
.more-events .MuiPaper-root:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Elevation effect */
}

.more-events-img {
    width: 100%; /* Sets the image width to take up 100% of its parent container */
    height: auto; /* Maintains aspect ratio while scaling the height */
    max-width: 400px; /* Optional: Limit the maximum width of the image */
    object-fit: cover; /* Optional: Ensures the image covers the box, maintaining aspect ratio */
  }

.paper-content p {
    display: block; /* Ensure paragraphs are block elements */
    margin: 0.5rem 0; /* Space between paragraphs */
    line-height: 1.5; /* Better readability */
    color: #333; /* Your preferred text color */
  }

.creator-info{
  display: flex;
  align-items: center;
}
  
  
  